<div ng-controller="graphController as graphCtrl">
    <nav class="navbar navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">School Management System</a>
            </div>
        </div>
    </nav>
    <div class="performance-content">
        <div class="row">
            <div ng-class="graphCtrl.isTeacher ? 'm-l-42': 'col-sm-2 col-sm-offset-4'">
                <button ng-click="graphCtrl.filterByClass = !graphCtrl.filterByClass"
                        class="btn btn-danger">filter by class
                </button>
            </div>
            <div ng-if="graphCtrl.isManager" class="col-sm-2">
                <button ng-click="graphCtrl.filterByDate = !graphCtrl.filterByDate" class="btn btn-danger">
                    filter by date
                </button>
            </div>
        </div>
        <div class="row m-t-15 ">
            <div ng-if="graphCtrl.filterByClass" class="col-sm-4 col-sm-offset-4">
                <span>choose class</span>
                <select ng-model="graphCtrl.chosenClass"
                        ng-options="classObj.name for classObj in graphCtrl.allClassesViewOnly" class="form-control">
                    <option value="">choose class..</option>
                </select>
            </div>
        </div>
        <div class="row m-t-15">
            <div ng-if="graphCtrl.filterByDate" class="col-sm-2 col-sm-offset-4">
                <span>from date</span>
                <input ng-model="graphCtrl.chosenFromDate" type="date" class="form-control"/>
            </div>
            <div ng-if="graphCtrl.filterByDate" class="col-sm-2">
                <span>to date</span>
                <input ng-model="graphCtrl.chosenToDate" type="date" class="form-control"/>
            </div>
        </div>
        <div class="row m-t-15 ">
            <div class="col-sm-2 w-12 m-l-38">
                <button ng-click="graphCtrl.filterAll()" class="btn btn-info">FILTER</button>
            </div>
            <div class="col-sm-2">
                <button ng-click="graphCtrl.clearAll()" class="btn btn-info">CLEAR</button>
            </div>
        </div>
    </div>
    <div class="data-content">
        <div class="card">
            <div class="card-header card-chart" data-background-color="green">
                <canvas className="ct-chart" id="gradesChart" style="padding-top: 10px; padding-right: 10px"/>
            </div>
            <div class="card-content">
                <h4 class="title">Grades Average</h4>
                <p class="category"><span class="text-success"><i class="material-icons">info</i></span> A graph of
                    where the X-axis is the student name and the Y-axis is the average score per student (0-100)
                </p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright pull-right">
                <a>Gal Yaish</a>, made with love
            </p>
        </div>
    </footer>
</div>