<div>
    <div class="card-header" data-background-color="orange">
        <h4 class="title">{{ classObject.name }} Performance</h4>
        <p class="category">School performance VS Students Performance</p>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
            <thead class="text-warning">
                <th>Name</th>
                <th>Grade</th>
                <th>Diff</th>
                <th>Show activity data</th>
            </thead>
            <tbody>
                <tr ng-repeat="student in classObject.class_students">
                    <td>{{ student.user.last_name }} {{ student.user.first_name }}</td>
                    <td>{{ student.get_average | roundFilter}}</td>
                    <td>{{ student.get_average - schoolScore | absFilter}}</td>
                    <td><button ng-click="showStudentActivities(student)" class="btn btn-warning">show activities</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>