<div class="sidebar" data-color="purple" data-image="img/sidebar-1.jpg">
    <div class="logo">
        <a class="simple-text">
            {{ appCtrl.username }}
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li ng-class="{active:appCtrl.isSet(1)}" ng-click="appCtrl.setTab(1)">
                <a ui-sref="app.graph">
                    <i class="material-icons">trending_up</i>
                    <p>Grades Average</p>
                </a>
            </li>
            <li ng-class="{active:appCtrl.isSet(2)}" ng-click="appCtrl.setTab(2)">
                <a ui-sref="app.performance_box">
                    <i class="material-icons">whatshot</i>
                    <p>Performance</p>
                </a>
            </li>
            <li ng-class="{active:appCtrl.isSet(3)}" ng-click="appCtrl.setTab(3)">
                <a ui-sref="app.weak_students">
                    <i class="material-icons">sentiment_very_dissatisfied</i>
                    <p>Weak Students</p>
                </a>
            </li>
            <li>
                <a ng-click="appCtrl.logout()">
                    <i class="material-icons">power_settings_new</i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-panel" ui-view></div>