<div class="main-panel login-panel" ng-controller="LoginController as loginCtrl">
    <nav class="navbar navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">School Management System</a>
            </div>
        </div>
    </nav>

    <div class="login-content">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Login</h4>
                <p class="category">Please enter username and password</p>
            </div>
            <div class="card-content">
                <div class="form-group label-floating">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" ng-model="loginCtrl.username">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" ng-model="loginCtrl.password">
                </div>
            </div>
            <div class="card-footer">
                <center>
                    <button type="submit" ng-click="loginCtrl.login()" class="btn btn-primary text-center">LOGIN</button>
                </center>
                <p ng-show="loginCtrl.errorMessage != '' " class="text-center m-t-20"> {{ loginCtrl.errorMessage }}</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright pull-right">
                &copy;
                <a>Gal Yaish</a>, made with love
            </p>
        </div>
    </footer>
</div>