<div ng-controller="activitiesController as activitiesCtrl">
    <nav class="navbar navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">School Management System</a>
            </div>
        </div>
    </nav>
    <div class="table-content">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">{{ activitiesCtrl.currentStudent.user.first_name }} {{ activitiesCtrl.currentStudent.user.last_name }} Activities List</h4>
                <p class="category"> All the activities data that the user participated ordered by dates</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <th>Activity Name</th>
                    <th>Activity Date</th>
                    <th>Activity Score</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="activityData in activitiesCtrl.currentStudent.student_activity_data">
                        <td>{{ activityData.activity.activity_type}}</td>
                        <td>{{ activityData.date | dateFixFilter }}</td>
                        <td>{{ activityData.score }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright pull-right">
                <a>Gal Yaish</a>, made with love
            </p>
        </div>
    </footer>
</div>