<div ng-controller="performanceBoxController as performanceCtrl">
    <nav class="navbar navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">School Management System</a>
            </div>
        </div>
    </nav>
    <div class="performance-content">
        <div class="row">
            <div ng-class="performanceCtrl.isTeacher ? 'm-l-42': 'col-sm-2 col-sm-offset-4'">
                <button ng-click="performanceCtrl.filterByClass = !performanceCtrl.filterByClass"
                        class="btn btn-danger">filter by class
                </button>
            </div>
            <div ng-if="performanceCtrl.isManager" class="col-sm-2">
                <button ng-click="performanceCtrl.filterByDate = !performanceCtrl.filterByDate" class="btn btn-danger">
                    filter by date
                </button>
            </div>
        </div>
        <div class="row m-t-15 ">
            <div ng-if="performanceCtrl.filterByClass" class="col-sm-4 col-sm-offset-4">
                <span>choose class</span>
                <select ng-model="performanceCtrl.chosenClass"
                        ng-options="classObj.name for classObj in performanceCtrl.allClassesViewOnly"
                        class="form-control">
                    <option value="">choose class..</option>
                </select>
            </div>
        </div>
        <div class="row m-t-15">
            <div ng-if="performanceCtrl.filterByDate" class="col-sm-2 col-sm-offset-4">
                <span>from date</span>
                <input ng-model="performanceCtrl.chosenFromDate" type="date" class="form-control"/>
            </div>
            <div ng-if="performanceCtrl.filterByDate" class="col-sm-2">
                <span>to date</span>
                <input ng-model="performanceCtrl.chosenToDate" type="date" class="form-control"/>
            </div>
        </div>
        <div class="row m-t-15 ">
            <div class="col-sm-2 w-12 m-l-38">
                <button ng-click="performanceCtrl.filterAll()" class="btn btn-info">FILTER</button>
            </div>
            <div class="col-sm-2">
                <button ng-click="performanceCtrl.clearAll()" class="btn btn-info">CLEAR</button>
            </div>
        </div>
    </div>
    <div class="card card-stats">
        <div class="card-header" data-background-color="green">
            <i class="material-icons">store</i>
        </div>
        <div class="card-content">
            <p class="txt-align-c category p-r-100">{{ performanceCtrl.schoolDisplayName }}</p>
            <h3 class="txt-align-c title p-r-100">{{ performanceCtrl.schoolScore | roundFilter }}</h3>
        </div>
        <div class="card-footer">
            <div class="stats">
            </div>
        </div>
    </div>
    <div class="card" ng-repeat="classObject in performanceCtrl.allClasses">
        <class-object school-score="performanceCtrl.schoolScore" class-object="classObject"></class-object>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            <a>Gal Yaish</a>, made with love
        </p>
    </div>
</footer>
</div>

