/*
 *	TABLE CONTENTS
 *	-------------------------------
 *
 *           01. TEXT
 *           02. POSITION
 *           03. MARGIN AND PADDING
 *           04. BORDERS
 *           05. HEIGHT ANG WIDTH
 *           06. ANIMATION
 *           07. OTHERS
 *           08. COLORS
 *           08. LAYOUT
 *
 *	-------------------------------


/* =================================================================== */
/*   TEXT
/* =================================================================== */


.blue-color{
    background-color: #1E0095 !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-5x {
    font-size: 5em !important;
}

.text-4x {
    font-size: 4em !important;
}

.text-3x {
    font-size: 3em !important;
}

.text-2x {
    font-size: 2em !important;
}

.text-1-5x {
    font-size: 1.5em !important;
}

.text-8x {
    font-size: 8em !important;
}

.text-10x {
    font-size: 10em !important;
}

.text-lg {
    font-size: 18px !important;
}

.text-md {
    font-size: 16px !important;
}

.text-base {
    font-size: 14px !important;
}

.text-sm {
    font-size: 13px !important;
}

.text-xs {
    font-size: 12px !important;
}

.text-xxs {
    text-indent: -9999px !important;
}

.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-d-n {
    text-decoration: none;
}

.text-l-t {
    text-decoration: line-through;
}

.text-u-l {
    text-decoration: underline;
}

.text-u-c {
    text-transform: uppercase;
}

.l-s-1x {
    letter-spacing: 1em;
}

.l-s-2x {
    letter-spacing: 2em;
}

.l-s-3x {
    letter-spacing: 3em;
}

.font-normal {
    font-weight: normal;
}

.font-thin {
    font-weight: 100;
}

.font-bold {
    font-weight: 500;
}


/* =================================================================== */
/*   POSITION
/* =================================================================== */


.pos-rlt {
    position: relative;
}

.pos-stc {
    position: static !important;
}

.pos-abt {
    position: absolute;
}

.pos-fix {
    position: fixed;
}


/* =================================================================== */
/*   MARGIN AND PADDING
/* =================================================================== */


.wrapper-xs {
    padding: 5px;
}

.wrapper-sm {
    padding: 10px;
}

.wrapper {
    padding: 15px;
}

.wrapper-md {
    padding: 20px;
}

.wrapper-lg {
    padding: 30px;
}

.wrapper-xl {
    padding: 50px;
}

.padder-lg {
    padding-right: 30px;
    padding-left: 30px;
}

.padder-md {
    padding-right: 20px;
    padding-left: 20px;
}

.padder {
    padding-right: 15px;
    padding-left: 15px;
}

.padder-v {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.padder-v-lg {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.padder-v-xl {
    padding-top: 25px!important;
    padding-bottom: 25px!important;
}

.no-padder {
    padding: 0 !important;
}

.no-padder-r {
    padding-right: 0 !important;
}

.no-padder-l {
    padding-left: 0 !important;
}

.no-padder-t {
    padding-top: 0 !important;
}

.no-padder-b {
    padding-bottom: 0 !important;
}

.p-t {
    padding-top: 55px !important;
}

.m-xxs {
    margin: 2px 4px;
}

.m-xs {
    margin: 5px;
}

.m-sm {
    margin: 10px;
}

.m {
    margin: 15px;
}

.m-md {
    margin: 20px;
}

.m-lg {
    margin: 30px;
}

.m-xl {
    margin: 50px;
}

.m-n {
    margin: 0 !important;
}

.m-l-none {
    margin-left: 0 !important;
}

.m-l-xs {
    margin-left: 5px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-l {
    margin-left: 15px;
}

.m-l-md {
    margin-left: 20px;
}

.m-l-lg {
    margin-left: 30px;
}

.m-l-xl {
    margin-left: 40px;
}

.m-l-xxl {
    margin-left: 50px;
}

.m-l-xxxl {
    margin-left: 100px;
}

.m-l-n-xxs {
    margin-left: -1px;
}

.m-l-n-xs {
    margin-left: -5px;
}

.m-l-n-sm {
    margin-left: -10px;
}

.m-l-n {
    margin-left: -15px;
}

.m-l-n-md {
    margin-left: -20px !important;
}

.m-l-n-lg {
    margin-left: -30px;
}

.m-l-n-xl {
    margin-left: -40px;
}

.m-l-n-xxl {
    margin-left: -50px;
}

.m-t-none {
    margin-top: 0 !important;
}

.m-t-xxs {
    margin-top: 1px;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t {
    margin-top: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-t-lg {
    margin-top: 30px;
}

.m-t-xl {
    margin-top: 40px;
}

.m-t-xxl {
    margin-top: 50px;
}

.m-t-n-xxs {
    margin-top: -1px;
}

.m-t-n-xs {
    margin-top: -5px;
}

.m-t-n-sm {
    margin-top: -10px;
}

.m-t-n {
    margin-top: -15px;
}

.m-t-n-md {
    margin-top: -20px !important;
}

.m-t-n-lg {
    margin-top: -30px;
}

.m-t-n-xl {
    margin-top: -40px;
}

.m-t-n-xxl {
    margin-top: -50px;
}

.m-r-none {
    margin-right: 0 !important;
}

.m-r-xxs {
    margin-right: 1px;
}

.m-r-xs {
    margin-right: 5px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r {
    margin-right: 15px;
}

.m-r-md {
    margin-right: 20px;
}

.m-r-lg {
    margin-right: 30px;
}

.m-r-xl {
    margin-right: 40px;
}

.m-r-xxl {
    margin-right: 50px;
}

.m-r-n-xxs {
    margin-right: -1px;
}

.m-r-n-xs {
    margin-right: -5px;
}

.m-r-n-sm {
    margin-right: -10px;
}

.m-r-n {
    margin-right: -15px;
}

.m-r-n-md {
    margin-right: -20px;
}

.m-r-n-lg {
    margin-right: -30px;
}

.m-r-n-xl {
    margin-right: -40px;
}

.m-r-n-xxl {
    margin-right: -50px;
}

.m-b-none {
    margin-bottom: 0 !important;
}

.m-b-xxs {
    margin-bottom: 1px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b {
    margin-bottom: 15px;
}

.m-b-md {
    margin-bottom: 20px;
}

.m-b-lg {
    margin-bottom: 30px;
}

.m-b-xl {
    margin-bottom: 40px;
}

.m-b-xxl {
    margin-bottom: 50px;
}

.m-b-n-xxs {
    margin-bottom: -1px;
}

.m-b-n-xs {
    margin-bottom: -5px;
}

.m-b-n-sm {
    margin-bottom: -10px;
}

.m-b-n {
    margin-bottom: -15px;
}

.m-b-n-md {
    margin-bottom: -20px;
}

.m-b-n-lg {
    margin-bottom: -30px;
}

.m-b-n-xl {
    margin-bottom: -40px;
}

.m-b-n-xxl {
    margin-bottom: -50px;
}


/* =================================================================== */
/*   BORDERS
/* =================================================================== */


.no-border,
.no-borders {
    border: 0 transparent !important;
}

.no-radius {
    border-radius: 0 !important;
}

.no-shadow {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.rounded {
    border-radius: 500px;
}

.circle {
    border-radius: 50%; }

.b-l-2x {
    border-left-width: 2px;
}

.b-l-3x {
    border-left-width: 3px;
}

.b-l-4x {
    border-left-width: 4px;
}

.b-l-5x {
    border-left-width: 5px;
}

.b-2x {
    border-width: 2px;
}

.b-3x {
    border-width: 3px;
}

.b-4x {
    border-width: 4px;
}

.b-5x {
    border-width: 5px;
}

.r {
    border-radius: 2px 2px 2px 2px;
}

.r-2x {
    border-radius: 4px;
}

.r-3x {
    border-radius: 6px;
}

.r-l {
    border-radius: 2px 0 0 2px;
}

.r-r {
    border-radius: 0 2px 2px 0;
}

.r-t {
    border-radius: 2px 2px 0 0;
}

.r-b {
    border-radius: 0 0 2px 2px;
}


/* =================================================================== */
/*   HEIGHT ANG WIDTH
/* =================================================================== */


.w-xxs {
    width: 60px;
}

.w-xs {
    width: 90px;
}

.w-sm {
    width: 150px;
}

.w {
    width: 200px;
}

.w-md {
    width: 240px;
}

.w-lg {
    width: 280px;
}

.w-xl {
    width: 320px;
}

.w-xxl {
    width: 360px;
}

.w-xxxl {
    width: 500px;
}

.w-full {
    width: 100%;
}

.w-auto {
    width: auto;
}

.h-xxs {
    height: 60px;
}

.h-xs {
    height: 90px;
}

.h-sm {
    height: 150px;
}

.h {
    height: 200px;
}

.h-md {
    height: 240px;
}

.h-lg {
    height: 280px;
}

.h-xl {
    height: 320px;
}

.h-xxl {
    height: 360px;
}

.h-full {
    height: 100%;
}

.h-auto {
    height: auto;
}


/* =================================================================== */
/*   ANIMATION
/* =================================================================== */


.animated.delay-3 {
    /* Chrome 10+, Saf5.1+ */
    -webkit-animation-delay: 300ms;
    /* FF3.6+ */
    -moz-animation-delay: 300ms;
    /* Opera 11.10+ */
    -o-animation-delay: 300ms;
    /* W3C */
    animation-delay: 300ms;
}

.animated.delay-6 {
    /* Chrome 10+, Saf5.1+ */
    -webkit-animation-delay: 600ms;
    /* FF3.6+ */
    -moz-animation-delay: 600ms;
    /* Opera 11.10+ */
    -o-animation-delay: 600ms;
    /* W3C */
    animation-delay: 600ms;
}

.animated.delay-9 {
    /* Chrome 10+, Saf5.1+ */
    -webkit-animation-delay: 900ms;
    /* FF3.6+ */
    -moz-animation-delay: 900ms;
    /* Opera 11.10+ */
    -o-animation-delay: 900ms;
    /* W3C */
    animation-delay: 900ms;
}

.animated.delay-12 {
    /* Chrome 10+, Saf5.1+ */
    -webkit-animation-delay: 1200ms;
    /* FF3.6+ */
    -moz-animation-delay: 1200ms;
    /* Opera 11.10+ */
    -o-animation-delay: 1200ms;
    /* W3C */
    animation-delay: 1200ms;
}

.animated.delay-15 {
    /* Chrome 10+, Saf5.1+ */
    -webkit-animation-delay: 1500ms;
    /* FF3.6+ */
    -moz-animation-delay: 1500ms;
    /* Opera 11.10+ */
    -o-animation-delay: 1500ms;
    /* W3C */
    animation-delay: 1500ms;
}

.animated.delay-18 {
    /* Chrome 10+, Saf5.1+ */
    -webkit-animation-delay: 1800ms;
    /* FF3.6+ */
    -moz-animation-delay: 1800ms;
    /* Opera 11.10+ */
    -o-animation-delay: 1800ms;
    /* W3C */
    animation-delay: 1800ms;
}


/* =================================================================== */
/*   OTHERS
/* =================================================================== */

.rtl{
    direction: rtl;
}

.ltr{
    direction: ltr;
}

.no-overflow-x{
    overflow-x: hidden;
}

.no-overflow-y{
    overflow-y: hidden;
}

.no-overflow{
    overflow: hidden;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.block {
    display: block;
}

.inline {
    display: inline-block !important;
}

.none {
    display: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.pull-none {
    float: none;
}

.no-bg {
    color: inherit !important;
    background-color: transparent !important;
}


.suppliers-table{
    width: 850px;
    height: 70px;
    margin-right: 30px;
}