@media (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .sidebar {
        position: inherit;
    }

    .main-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .login-panel {
        width: 100%
    }

    .data-content {
        padding: 0 100px 0 100px;
    }

    .card .card-header.card-chart {
        min-height: 50vh;
    }

    .performance-content {
        padding: 0 100px 0 100px;
    }

    .performance-content > .card {
        margin-top: 50px;
        height: 100%;
    }

    .table-content {
        padding: 0 100px 0 100px;
    }

    .table-content > .card {
        margin-top: 50px;
        height: 100%;
    }

    .login-content {
        padding: 0 100px 0 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .login-content > .card {
        width: 40%;
    }

    .dropdown {
        text-align: center;
    }

    .dropdown-menu {
        position: static;
        text-align: center;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: inherit;
        min-width: 160px;
        padding: 5px 0;
        list-style: none;
        background-color: rgba(121, 111, 75, 0.02);
        background-clip: padding-box;
        border-radius: 4px;
    !important;

    }

    .txt-align-c {
        text-align: center;
    }

    .w-12 {
        width: 12%;
    }

    .m-l-38 {
        margin-left: 38%;
    }

    .m-l-42 {
        margin-left: 42%;
    }

    .m-t-15 {
        margin-top: 15px;
    }

    .m-t-20 {
        margin-top: 20px;
    }

    .p-r-100{
        padding-right: 100px;
    }
}
