<div ng-controller="weakStudentController as weakStudentCtrl">
    <nav class="navbar navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">School Management System</a>
            </div>
        </div>
    </nav>
    <div class="table-content">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Weak Students List</h4>
                <p class="category">A list of weak students ( the definition of weak student - average grade under
                    75).</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <th>Name</th>
                    <th>Average Grade</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in weakStudentCtrl.weakStudentsList">
                        <td>{{ student.name }}</td>
                        <td class="text-primary">{{ student.score | roundFilter}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright pull-right">
                <a>Gal Yaish</a>, made with love
            </p>
        </div>
    </footer>
</div>