{% load staticfiles %}

<!--bower-components-->
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-utils/ui-utils.min.js' %}"></script>
<script type="text/javascript" src="{% static 'source/material/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'source/material/material.min.js' %}"></script>
<script type="text/javascript" src="{% static 'source/material/material-dashboard.js' %}"></script>
<!--end bower-components-->

<!--app-->
<script type="text/javascript" src="{% static 'app/app.module.js' %}"></script>
<script type="text/javascript" src="{% static 'app/app.config.js' %}"></script>
<script type="text/javascript" src="{% static 'app/app.router.js' %}"></script>
<script type="text/javascript" src="{% static 'app/authInterceptor.service.js' %}"></script>
<script type="text/javascript" src="{% static 'app/tokenManager.service.js' %}"></script>
<script type="text/javascript" src="{% static 'app/app.service.js' %}"></script>
<script type="text/javascript" src="{% static 'app/weak_students/weak_students.service.js' %}"></script>

<script type="text/javascript" src="{% static 'app/filters/abs.filter.js' %}"></script>
<script type="text/javascript" src="{% static 'app/filters/round.filter.js' %}"></script>
<script type="text/javascript" src="{% static 'app/filters/date_fix.filter.js' %}"></script>

<script type="text/javascript" src="{% static 'app/app.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'app/authentication/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'app/graph/graph.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'app/performance_box/performance_box.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'app/weak_students/weak_students.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'app/activities/activities.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'app/directives/class.directive.js' %}"></script>
<!--end app-->

